@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroylight.woff) format("woff"),
	url(../fonts/gilroylight.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroyextrabold.woff) format("woff"),
	url(../fonts/gilroyextrabold.woff2) format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensans.woff) format("woff"),
	url(../fonts/opensans.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensanslight.woff) format("woff"),
	url(../fonts/opensans.woff2) format("woff2");
	font-weight: lighter;
	font-style: normal;
}

body {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #fff;
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 47px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*-----------------------------header-----------------------------*/

.header {
	position: relative;
	width: 1040px;
	margin: 40px auto;
	padding: 40px 60px 52px 60px;
	background-color: #f7e296;
}

.header__logo {
	position: absolute;
	text-transform: uppercase;
	left: 60px;
	top: -58px;
}

.logo__name:hover {
	color: #464646;
}

.logo__name:active {
	color: #666666;
}

.header__top_menu {
	margin-bottom: 29px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 36px;
}

.heder__search_content, .header__user_block {
	width: 50%;
	float: left;
}

.header__form_search {
	position: relative;
	width: 440px;
	height: 45px;
}

.header__search_name {
	display: none;
}

.header__search_active {
	width: 100%;
	padding-left: 40px;
	padding-right: 85px;
	border: none;
	background: transparent url(../img/search.png) no-repeat 3px 50%;
	outline: none;
	vertical-align: top;
	color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

.header__search_active:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header__search_active:focus {
	border-bottom: 2px solid #000;
	color: #000;
}

.header__btn_search {
	position: absolute;
	right: 0;
	bottom: 6px;
	width: 81px;
	height: 45px;
	padding: 0;
	background-color: transparent;
	border: 2px solid #000;
	outline: none;
	display: none;
}

.header__btn_search:hover {
	background-color: #000;
	color: #fff;

}

.header__btn_search:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);

}

.header__search_active:focus ~ .header__btn_search {
	display: inline-block;
}

.header__menu {
	float: right;
	margin: 0;
	margin-top: 1px;
	padding: 0;
	font-size: 0;
}

.header__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	font-size: 15px;
	text-align: right;
}

.header__menu_item:first-child {
	margin-left: 0;
	margin-right: 174px;
}

.header__menu_item:last-child {
	text-align: right;
}

.link__input {
	padding-left: 25px;
	background: url(../img/user.png) no-repeat 0 50%;
}

.link__compare {
	padding-left: 25px;
	background: url(../img/compare.png) no-repeat 4px 50%;
}

.link__shopping {
	padding-left: 25px;
	background: url(../img/cart.png) no-repeat 2px 50%;
}

.header__catalog_items, .header__info_block {
	float: left;
}

.header__catalog_items, .header__info_block {
	width: 50%;
}

.header__info_menu {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-left: 20px;
}

.info__menu_item {
	float: left;
	font-size: 18px;
	margin-right: 36px;
}

.info__menu_item:last-child {
	float: right;
	margin-right: -3px;
}

.header__bottom_text {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.5px;
}

.header__list_item {
	display: none;
}

/*----------------------------main------------------------------*/

/*------------------------index.html----------------------------*/



.main__sliders_item {
	position: relative;
	width: 1160px;
	margin: -40px auto 40px auto;
	z-index: 5;
}

.main__sliders_item > input[type="radio"] {
	display: none;
}

.main__sliders_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	background-color: #f7e296;
	z-index: 0;
}

.main__slide {
	position: relative;
}

.main__img_item, .main__description_item {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.main__img_item {
	text-align: center;
}

.main__description_item {
	padding-left: 20px;
}

.dash {
	width: 100px;
	height: 7px;
	margin: 30px 0;
	background-color: #fff;
}

.main__number_item {
	position: absolute;
	right: 40px;
	top: -15px;
	font-size: 180px;
	line-height: 180px;
	font-weight: bold;
	color: #fff;
}

.main__text_block h2 {
	width: 390px;
}

.main__text_block p {
	width: 480px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
}

.link__info_item {
	margin: 30px 0;
}

.btn__info_item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 2px;
	text-align: center;
}

.btn__info_item::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	width: 220px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.btn__info_item:hover {
	background-color: #f0c52e;
}

.btn__info_item:active {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.features_item {
	display: inline-block;
	vertical-align: top;
	width: 85px;
	margin-right: 50px;
}

.features__item_value {
	font-size: 36px; 
}

.features__item_parameter {
	font-size: 13px;
}

#slide_3, #slide_2, #slide_1 {
	display: none;
}

.slider__control {
	position: absolute;
	right: 0;
	top: 320px;
}

.slider__btn {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 15px;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
}

.slider__btn:hover {
	border-color: #999999;
}

#btn_1:checked ~ #slide_1, #btn_2:checked ~ #slide_2, #btn_3:checked ~ #slide_3 {
	display: block;
}

#btn_1:checked ~ .slider__control > .slider__btn[for="btn_1"], #btn_2:checked ~ .slider__control > .slider__btn[for="btn_2"], #btn_3:checked ~ .slider__control > .slider__btn[for="btn_3"] {
	border-color: #000000;
}

.main__items_block {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.items__block {
	margin: 0;
	padding: 0;
}

.item__list {
	float: left;
	width: 160px;
	margin-right: 40px;
}

.item__list:last-child {
	margin-right: 0;
	float: right;
}

.item__icon_block {
	position: relative;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
	background-color: #f7e296;
}

.link__item_icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.icon__position {
	margin-bottom: 0;
}

.link__item_text {
	display: inline-block;
	vertical-align: middle;
	width: 125px;
	font-weight: bold;
}

.item__list:hover .item__icon_block {
	background-color: #f0c52e;
}

.item__list:active .link__item_text {
	opacity: 0.3;
}

.item__list:active .link__item_icon {
	opacity: 0.3;
}

.main__services {
	position: relative;
}

.main__services_bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 290px;
	z-index: -10px;
	background-color: #e5e5e5;
}

.main__services_container {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}

.main__services_menu, .main__services_description, .services__description_icon{
	float: left;
	width: 33%;
}

.main__services_menu {


}

.services__description_icon {
	width: 136px;
	height: 164px;
	background: url(../img/delivery.png) no-repeat;
}

.main__icon_brand {
	width: 1160px;
	margin: 0 auto;
}

.main__brand_menu {
	margin: 0;
	padding: 0;
}

.brand__list_item {
	float: left;
	margin-right: 40px;
}

.brand__list_item:last-child {
	margin-right: 0;
}

.main__info_block {
	width: 1160px;
	margin: 0 auto;
}

.main__info_about, .main__info_contacts {
	float: left;
	width: 50%;
}

/*-----------------------catalog.html---------------------------*/

.main__breadcrumbs_block {
	width: 1040px;
	margin: 0 auto;
	padding: 0 60px;
}

.main__title {
	margin: 0;
	margin-bottom: 25px;
}

.breadcrumbs__menu {
	margin: 0;
	padding: 0;
}

.breadcrumbs__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 35px;
}

.breadcrumbs__item_name {
	font-family: Open-sans;
	font-size: 14px;
	line-height: 36px;
	font-weight: lighter;
	color: rgba(0, 0, 0, .7);
}

.main__filter_sort {
	width: 100%;
	background-color: #ebebeb;
}

.filter__sort_container {
	width: 1100px;
	margin: 0 auto;
	padding-left: 60px;
}

.filter__name_block {
	float: left;
	width: 270px;
	background-color: #0fc;
	padding: 25px 0;
}

.sort__block, .sort__name, .sort__menu {
	float: left;
}

.sort__block {
	width: 830px;
	box-sizing: border-box;
	padding: 25px 0 25px 70px;
}

.sort__menu {
	margin: 0;
	padding: 0;
}

.sort__menu_item {
	display: inline-block;
	vertical-align: middle;
}

.sort__arrow_btn {
	float: right;
}

.main__filter_block {
	width: 1100px;
	margin: 0 auto;
	padding-left: 60px;
}

.main__filter_container {
	float: left;
	width: 270px;
}

.main__catalog_block {
	float: left;
	width: 830px;
	padding: 70px 0 70px 70px;
	box-sizing: border-box;
}

.catalog__item {
	float: left;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.catalog__item:nth-child(2n) {
	margin-right: 0;
}

.main__catalog_pagination {
	float: left;
	width: 100%;
	background-color: #ebebeb;
}

.catalog__pagination_menu {
	margin: 0;
	padding: 20px 25px;
	text-align: center;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 15px;
}

.pagination__item:first-child {
	float: left;
	margin: 0;
}

.pagination__item:last-child {
	float: right;
	margin: 0;
}

/*-------------------------footer----------------------------*/

.footer {
	background-color: #464646;
}

.footer_container {
	width: 1160px;
	margin: 0 auto;
	padding: 60px 0;
}

.footer__top_content {
	margin-bottom: 25px;
}

.footer_logo {
	float: left;
}

.footer__logo_text {
	margin: 0;
	padding: 0;
}

.footer__user_block {
	float: right;
}

.footer__menu_block {
	margin: 0;
	padding: 0;
}

.footer__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
}

.footer__info_content {
	margin-bottom: 60px;
}

.footer__info_adres {
	float: left;
	width: auto;
	text-align: left;
}

.footer__info_tel {
	float: right;
	width: auto;
	text-align: right;
}

.footer__info_services {
	width: 50%;	
	margin: 0 auto;
}

.info__services_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.info__services_item {
	display: inline-block;
	vertical-align: middle;
}

.footer_dash {
	float: left;
	width: 80px;
	height: 7px;
	background-color: #f7e184;
}

.footer__copyright_block {
	float: right;
	width: 27px;
	height: 34px;
	background: #f7e184;
}

.footer__social_block {
	width: 50%;
	margin: 0 auto;
}

.footer__social_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.footer__social_item {
	display: inline-block;
	vertical-align: middle;
}
