@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroylight.woff) format("woff"),
	url(../fonts/gilroylight.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroyextrabold.woff) format("woff"),
	url(../fonts/gilroyextrabold.woff2) format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensans.woff) format("woff"),
	url(../fonts/opensans.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensanslight.woff) format("woff"),
	url(../fonts/opensans.woff2) format("woff2");
	font-weight: lighter;
	font-style: normal;
}

body {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #fff;
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 47px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*-----------------------------header-----------------------------*/

.header {
	position: relative;
	width: 1040px;
	margin: 40px auto;
	padding: 40px 60px 52px 60px;
	background-color: #f7e296;
}

.header__logo {
	position: absolute;
	text-transform: uppercase;
	left: 60px;
	top: -58px;
}

.logo__name:hover {
	color: #464646;
}

.logo__name:active {
	color: #666666;
}

.header__top_menu {
	margin-bottom: 29px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 36px;
}

.heder__search_content, .header__user_block {
	width: 50%;
	float: left;
}

.header__form_search {
	position: relative;
	width: 440px;
	height: 45px;
}

.header__search_name {
	display: none;
}

.header__search_active {
	width: 100%;
	padding-left: 40px;
	padding-right: 85px;
	border: none;
	background: transparent url(../img/search.png) no-repeat 3px 50%;
	outline: none;
	vertical-align: top;
	color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}

.header__search_active:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header__search_active:focus {
	border-bottom: 2px solid #000;
	color: #000;
}

.header__btn_search {
	position: absolute;
	right: 0;
	bottom: 5px;
	width: 81px;
	height: 45px;
	padding: 0;
	background-color: transparent;
	border: 2px solid #000;
	outline: none;
	display: none;
}

.header__btn_search:hover {
	background-color: #000;
	color: #fff;

}

.header__btn_search:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);

}

.header__search_active:focus ~ .header__btn_search {
	display: inline-block;
}

.header__menu {
	float: right;
	margin: 0;
	margin-top: 1px;
	padding: 0;
	font-size: 0;
}

.header__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	font-size: 15px;
	text-align: right;
}

.header__menu_item a {
	position: relative;
	padding-left: 25px;
}

.header__menu_item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header__menu_item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.header__menu_item:first-child {
	margin-left: 0;
	margin-right: 172px;
}

.header__menu_item:last-child {
	text-align: right;
}

.link__input::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	background: url(../img/header-icon.png) no-repeat -10px -196px;
}

.link__input:hover::before {
	background-position: -10px -228px;
}

.link__input:active::before {
	background-position: -10px -260px;
}

.link__compare::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	background: url(../img/header-icon.png) no-repeat -10px -106px;
}

.link__compare:hover::before {
	background-position: -10px -136px;
}

.link__compare:active::before {
	background-position: -10px -166px;
}

.link__shopping::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	background: url(../img/header-icon.png) no-repeat -10px -10px;
}

.link__shopping:hover::before {
	background-position: -10px -42px;
}

.link__shopping:active::before {
	background-position: -10px -74px;
}


.header__catalog_items, .header__info_block {
	float: left;
}

.header__catalog_items, .header__info_block {
	width: 50%;
}

.header__info_menu {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-left: 20px;
}

.info__menu_item {
	float: left;
	font-size: 18px;
	margin-right: 36px;
}

.info__menu_item:last-child {
	float: right;
	margin-right: -3px;
}

.header__catalog_checked {
	display: none;
}

.header__bottom_text {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	cursor: pointer;
}

.header__catalog_btn {
	position: relative;
	padding-right: 30px;
}

.header__catalog_btn::after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -1px;
	width: 16px;
	height: 2px;
	background-color: #b8a974;
}

.header__catalog_btn::before {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -8px;
	margin-right: 7px;
	width: 2px;
	height: 16px;
	background-color: #b8a974;
}

.header__catalog_btn:hover::before, .header__catalog_btn:hover::after {
	background-color: #cdbc7f;
}

.header__catalog_btn:active::before, .header__catalog_btn:active::after {
	background-color: #e2cf8a;
}

.header__bottom_text:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header__bottom_text:active {
	color: rgba(0, 0, 0, 0.3);
}

.header__catalog {
	position: absolute;
	bottom: -115px;
	left: 0;
	height: 130px;
	width: 100%;
	background-color: #f7e296;
	z-index: 100;
	display: none;	
}

.header__catalog_menu {
	margin: 0 45px 0 60px;
	padding: 0;
	float: left;
	
}

.header__catalog_item {
	font-size: 0;
}

.header__catalog_link {
	font-family: Open-sans;
	font-size: 15px;
	line-height: 36px;
}

.catalog__display_block {
	display: block;
}

/*----------------------------main------------------------------*/

/*------------------------index.html----------------------------*/



.main__sliders_item {
	position: relative;
	width: 1160px;
	margin: -40px auto 40px auto;
	z-index: 5;
}

.main__sliders_item > input[type="radio"] {
	display: none;
}

.main__sliders_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110px;
	background-color: #f7e296;
	z-index: 0;
}

.main__slide {
	position: relative;
}

.main__img_item, .main__description_item {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

.main__img_item {
	text-align: center;
}

.main__description_item {
	padding-left: 20px;
}

.dash {
	width: 100px;
	height: 7px;
	margin: 30px 0;
	background-color: #fff;
}

.main__number_item {
	position: absolute;
	right: 40px;
	top: -15px;
	font-size: 180px;
	line-height: 180px;
	font-weight: bold;
	color: #fff;
}

.main__text_block h2 {
	width: 390px;
}

.main__text_block p {
	width: 480px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
}

.link__info_item {
	margin: 30px 0;
}

.btn__info_item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 220px;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	letter-spacing: 2px;
	text-align: center;
}

.btn__info_item::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -4px;
	width: 220px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.btn__info_item:hover {
	background-color: #f0c52e;
}

.btn__info_item:active {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.features_item {
	display: inline-block;
	vertical-align: top;
	width: 85px;
	margin-right: 50px;
}

.features__item_value {
	font-size: 36px; 
}

.features__item_parameter {
	font-size: 13px;
}

#slide_3, #slide_2, #slide_1 {
	display: none;
}

.slider__control {
	position: absolute;
	right: 0;
	top: 320px;
}

.slider__btn {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 15px;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
	cursor: pointer;
}

.slider__btn:hover {
	border-color: #999999;
}

#btn_1:checked ~ #slide_1, #btn_2:checked ~ #slide_2, #btn_3:checked ~ #slide_3 {
	display: block;
}

#btn_1:checked ~ .slider__control > .slider__btn[for="btn_1"], #btn_2:checked ~ .slider__control > .slider__btn[for="btn_2"], #btn_3:checked ~ .slider__control > .slider__btn[for="btn_3"] {
	border-color: #000000;
}

.main__items_block {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.items__block {
	margin: 0;
	padding: 0;
}

.item__list {
	float: left;
	width: 160px;
	margin-right: 40px;
}

.item__list:last-child {
	margin-right: 0;
	float: right;
}

.item__icon_block {
	position: relative;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;
	background-color: #f7e296;
}

.link__item_icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.icon__position {
	margin-bottom: 0;
}

.link__item_text {
	display: inline-block;
	vertical-align: middle;
	width: 125px;
	font-weight: bold;
}

.item__list:hover .item__icon_block {
	background-color: #f0c52e;
}

.item__list:active .link__item_text {
	opacity: 0.3;
}

.item__list:active .link__item_icon {
	opacity: 0.3;
}

.main__services {
	position: relative;
}

.main__services_bg {
	position: absolute;
	top: 30px;
	width: 100%;
	height: calc(100% - 30px);
	margin-top: 70px;
	box-sizing: border-box;
	background-color: #e5e5e5;
	z-index: -10;
}

.main__services_container {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 170px;
}

.main__services_menu, .main__services_description, .services__description_text, .services__description_icon{
	float: left;
}

.main__services_menu {
	width: 280px;
	border-right: 7px solid #000;
	margin-right: 110px;
}

.services_menu {
	margin: 80px 0;
	padding: 0;
}

.services__menu_item {
	display: block;
	margin-bottom: 20px;
}

.services__menu_link {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 160px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.services__menu_link::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.services__menu_link:hover::after {
	height: 100%;
	background-color: #f0c52e;
	top: 0;
	margin: 0;
}

.services__menu_link:active {
	color: #f0c52e;
}

.services__menu_link:active::after {
	width: 280px;
	height: 100%;
	background-color: #000;
	top: 0;
	margin: 0;
}

.services__menu_active {
	color: #f0c52e;
}

.services__menu_active::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	width: 280px;
	height: 100%;
	background-color: #000;
}

.main__services_description {
	position: relative;
	width: 700px;
	margin-top: 33px;
}

.services__description_text {
	width: 490px;
}

.description__text_base {
	width: 480px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.description__icon {
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	margin: auto;
	margin-right: 0;
}

.main__icon_brand {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.main__brand_menu {
	margin: 0;
	padding: 0;
}

.brand__list_item {
	float: left;
	margin-right: 40px;
}

.brand__list_item:last-child {
	margin-right: 0;
}

.brand__icon_hover {
	display: none;
}

.brand__link_item:hover .brand__icon {
	display: none;
}

.brand__link_item:hover .brand__icon_hover {
	display: inline-block;
}

.main__info_block {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	padding-bottom: 130px;
}

.main__info_block p {
	margin-bottom: 40px;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.main__info_about, .main__info_contacts {
	float: left;
	width: 560px;

}

.main__info_text {
	width: 475px;
}

.info__text_title {
	position: relative;
}

.info__text_title::before {
	content: "";
	position: absolute;
	top: -50px;
	display: block;
	width: 80px;
	height: 7px;
	background-color: #000;
}

.main__company_menu {
	margin: 60px 0;
	padding: 0;
}

.main__company_item {
	position: relative;
	padding-left: 40px;
	margin-bottom: 15px;
	font-weight: bold;
}

.main__company_item::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
}

.main__btn_about, .main__btn_feedback {
	position: absolute;
	bottom: 60px;
}

.btn__about, .btn__feedback {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.btn__about::after, .btn__feedback::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.btn__about:hover::after, .btn__feedback:hover::after {
	height: 100%;
	top: 0;
	margin-top: 0;
}

.btn__about:active, .btn__feedback:active {
	background-color: #000;
	color: #f0c52e;
}


/*-----------------------catalog.html---------------------------*/

.main__breadcrumbs_block {
	width: 1040px;
	margin: 0 auto 40px auto;
	padding: 0 60px;
}

.main__title {
	margin: 0;
	margin-bottom: 25px;
}

.breadcrumbs__menu {
	margin: 0;
	padding: 0;
}

.breadcrumbs__menu_item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	padding-right: 25px;
}

.breadcrumbs__menu_item::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 50%;
	margin-bottom: -4px;
	text-align: right;
	width: 4px;
	height: 4px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	transform: rotate(-45deg);
}

.breadcrumbs__menu_item:last-child::after {
	display: none;
}

.breadcrumbs__item_link {
	font-family: Open-sans;
	font-size: 14px;
	line-height: 36px;
	font-weight: lighter;
	color: rgba(0, 0, 0, .3);
}

.breadcrumbs__item_link:hover {
	color: rgba(0, 0, 0, .6);
}

.breadcrumbs__item_link:active {
	color: rgba(0, 0, 0, .1);
}

.main__filter_sort {
	width: 100%;
	background-color: #ebebeb;
}

.filter__sort_container {
	width: 1100px;
	margin: 0 auto;
	padding-left: 60px;
}

.filter__name_block {
	float: left;
	width: 270px;
	padding: 25px 0;
}

.filter__name {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.sort__block, .sort__name, .sort__menu {
	float: left;
}

.sort__block {
	position: relative;
	width: 830px;
	box-sizing: border-box;
	padding: 25px 0 25px 70px;
}

.sort__name {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	margin-right: 25px;
}

.sort__menu {
	margin: 0;
	padding: 0;
}

.sort__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.sort__menu_link {
	font-family: Open-sans;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.sort__menu_link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort__menu_link:active {
	color: #000;
}

.sort__link_active {
	color: #000;
}

.sort__arrow_btn {
	position: absolute;
	right: 0;
	top: 50%;
	width: 17px;
	height: 9px;
	margin-top: -9px;
	background: url(../img/sort-arrows.png) no-repeat 0 0;
	font-size: 0;
}

.btn__arrow_top {
	right: 30px;
}

.btn__arrow_top:hover {
	background-position: 0 -42px;
}

.btn__arrow_top:active {
	background-position: 0 -85px;
}

.arrow__top_active {
	background-position: 0 -85px;
}

.btn__arrow_down {
	background-position: -43px 0;
}

.btn__arrow_down:hover {
	background-position: -43px -42px;
}

.btn__arrow_down:active {
	background-position: -43px -85px;
}

.arrow__down_active {
	background-position: -43px -85px;
}

.main__filter_block {
	width: 1100px;
	margin: 0 auto;
	padding-left: 60px;
}

.main__filter_container {
	float: left;
	width: 200px;
	padding-right: 70px;
}

.main__filter_form {
	margin: 70px 0;
}

.main__filter_category {
	margin: 0;
	padding: 0;
	border: none;
	border-top: 2px solid #000;
	margin-bottom: 35px;
	padding-top: 10px;
}

.filter__category_name {
	font-weight: bold;
	margin-bottom: 40px;
}

.filter__cost_scale {
	position: relative;
	margin-bottom: 10px;
	height: 2px;
	background-color: #dbdbdb;
}

.filter__cost_bar {
	height: 2px;
	width: 60%;
	background-color: #91c92f;
}

.range__toggle {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	margin-top: -7px;
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
}

.range__toggle:active {
	margin-top: -8px;
	border: 2px solid #fff;
	background-color: #7eae29;
	box-shadow: 0 4px 5px rgba(0, 0, 0, .25);
}

.range__toggle_min {
	left: 0;
}

.range__toggle_max {
	left: 60%;
}

.max__price, .min__price {
	float: left;
	color: rgba(0, 0, 0, 0.2);
}

.min__price {
	margin-right: 25px;
}

.min__price_row, .max__price_row {
	border: none;
	outline: none;
	color: rgba(0, 0, 0, 0.2);
}

.min__price_row {
	margin-left: 0;
	margin-right: 30px;
	width: 13px;
}

.max__price_row {
	width: 52px;
}

.filter__color_name {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding-left: 40px;
	font-family: Open-sans;
	font-size: 14px;
	line-height: 40px;
}

.filter__color_name::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -12px;
	width: 23px;
	height: 23px;
	background-color: #dbdbdb;
}

.filter__color_name:hover::before {
	background-color: #cecece;
}

.filter__color_name:active::before {
	background-color: #c4c4c4;
}

.filter__color_check:checked + .filter__color_name::before {
	background: #dbdbdb url(../img/tick.png) no-repeat 50% 50%;
}

.filter__color_check:checked + .filter__color_name:hover::before {
	background-color: #cecece;
}

.filter__color_check:checked + .filter__color_name:active::before {
	background-color: #c4c4c4;
}

.filter__color_check {
	display: none;
}

.filter__category_bluetooth {
	display: none;
}

.bluetooth__present, .bluetooth__no_present {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding-left: 40px;
	font-family: Open-sans;
	font-size: 14px;
	line-height: 40px;
	cursor: pointer;
}

.bluetooth__present::before, .bluetooth__no_present::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -11px;
	width: 19px;
	height: 19px;
	border: 2px solid #c6c6c6;
	border-radius: 50%;
}

.bluetooth__present:active::after, .bluetooth__no_present:active::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 7px;
	width: 5px;
	height: 5px;
	margin-top: -4px;
	border: 2px solid #000;
	border-radius: 50%;
}

.filter__category_bluetooth:checked + .bluetooth__present::after, .filter__category_bluetooth:checked + .bluetooth__no_present::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 7px;
	width: 5px;
	height: 5px;
	margin-top: -4px;
	border: 2px solid #000;
	border-radius: 50%;
}

.filter__category_bluetooth:checked + .bluetooth__present:active::after, .filter__category_bluetooth:checked + .bluetooth__no_present:active::after {
	display: none;
}

.main__filter_btn {
	position: relative;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline: none;
}

.main__filter_btn:active {
	background-color: #000;
	color: #f0c52e;
}

.main__filter_btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.main__filter_btn:hover::before {
	height: 100%;
	top: 0;
	margin-top: 0;
}

.main__catalog_block {
	float: left;
	width: 830px;
	padding: 70px 0 70px 70px;
	box-sizing: border-box;
}

.catalog__item {
	float: left;
	width: 360px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.catalog__item:nth-child(2n) {
	margin-right: 0;
}

.item__img_block {
	position: relative;
	margin-bottom: 15px;
}

.item__img_block:hover .item__link_hover {
	display: block;
}

.new__item {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 56px;
	height: 14px;
	padding: 21px 0;
	border: 2px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: rgba(0, 0, 0, 0.2);
}

.item__link_hover {
	position: absolute;
	left: 0;
	top: 0;
	width: 360px;
	height: 380px;
	background-color: rgba(238, 238, 238, 0.7);
	display: none;
}

.item__link_hover a {
	display: block;
	width: 200px;
	text-align: center;
	padding: 0;
}

.item__link_hover .item__link_btn {
	position: absolute;
	left: 50%;
	top: 170px;
	height: 20px;
	padding: 10px 0;
	margin-left: -100px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
	z-index: 5;
}

.item__link_hover .item__link_btn::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
	width: 100%;
	height: 8px;
	background-color: #f0c52e;
	z-index: -5;
}

.item__link_btn:hover::after {
	height: 100%;
	top: 0;
	margin-top: 0;
}

.item__link_btn:active {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 0.3);
}

.item__link_compare {
	position: absolute;
	top: 215px;
	left: 50%;
	margin-left: -100px;
	font-family: Open-sans;
	font-size: 13px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.5);
}

.item__link_compare:hover {
	color: #000;
}

.item__link_compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.item__name {
	float: left;
	width: 260px;
	font-weight: bold;
}

.item__price {
	float: right;
}

.main__catalog_pagination {
	float: left;
	width: 100%;
	background-color: #ebebeb;
}

.catalog__pagination_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.pagination__item {
	display: inline-block;
	vertical-align: middle;
	max-height: 70px;
	margin-right: 15px;
	margin-left: 15px;
	padding: 27px 0;
	font-size: 0;
}

.pagination__item a {
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #a4a4a4;
}

.pagination__item a:hover {
	color: #666666;
}

.pagination__item a:active {
	color: #000000;
}

.pagination__item:first-child a, .pagination__item:last-child a {
	display: block;
	width: 130px;
	height: 16px;
	padding: 27px 0;
	margin: -27px 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.pagination__item:first-child a:hover, .pagination__item:last-child a:hover {
	background-color: #d9d9d9;
}

.pagination__item:first-child a:active, .pagination__item:last-child a:active {
	background-color: #d9d9d9;
	color: #979797;
}

.pagination__item:first-child {
	float: left;
	margin: 0;
}

.pagination__item:last-child {
	float: right;
	margin: 0;
}

.pagination__item .current__page {
	color: #000;
}

.pagination__item .current__page:hover {
	color: #000;
}

.pagination__item .current__page:active {
	color: #000;
}

/*-------------------------footer----------------------------*/

.footer {
	background-color: #464646;
}

.footer_container {
	width: 1160px;
	margin: 0 auto;
	padding: 60px 0;
}

.footer__top_content {
	margin-bottom: 25px;
}

.footer_logo {
	float: left;
}

.footer__link_logo {
	text-transform: uppercase;
	color: #f7e184;
}

.footer__link_logo:hover {
	color: #f0c52e;
}

.footer__link_logo:active {
	color: rgba(240, 197, 46, 0.3);
}

.footer__logo_text {
	margin: 0;
	padding: 0;	
}

.footer__user_block {
	float: right;
}

.footer__menu_block {
	margin: 15px 0;
	padding: 0;
}

.footer__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
}

.footer__menu_link {
	padding-left: 25px;
	font-family: Open-sans;
	color: rgba(255, 255, 255, 0.7);
}

.footer__menu_link:hover {
	color: #fff;
}

.footer__menu_link:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer__menu_enter::before, .footer__menu_compare::before, .footer__menu_cart::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
	margin-right: 10px;
	background: url(../img/sprite-userblock.png) no-repeat;
}

.footer__menu_enter::before {
	background-position: 0 -18px;
}

.footer__menu_compare::before {
	background-position: -17px -18px;
}

.footer__menu_cart::before {
	background-position: -33px -18px;
}

.footer__menu_enter:hover::before {
	background-position: 0 -3px;
}

.footer__menu_compare:hover::before {
	background-position: -17px -3px;
}

.footer__menu_cart:hover::before {
	background-position: -33px -3px;
}

.footer__menu_enter:active::before {
	background-position: 0 -33px;
}

.footer__menu_compare:active::before {
	background-position: -17px -33px;
}

.footer__menu_cart:active::before {
	background-position: -33px -33px;
}

.footer__info_content {
	margin-bottom: 60px;
}

.footer__info_adres {
	float: left;
	width: auto;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-align: left;
}

.footer__info_tel {
	float: right;
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
	color: #fff;
	text-align: right;
}

.footer__info_services {
	width: 50%;	
	margin: 0 auto;
	padding: 5px 0;
}

.info__services_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.info__services_item {
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
}

.info__services_link {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.2em;
}

.info__services_link:hover {
	opacity: 0.6;
}

.info__services_link:active {
	opacity: 0.3;
}

.footer_dash {
	float: left;
	width: 80px;
	height: 7px;
	background-color: #f7e184;
}

.footer__copyright_block {
	float: right;
	width: 27px;
	height: 34px;
	font-size: 0;
}

.academy__link_hover {
	display: none;
}

.footer__copyright_link:hover .academy__link {
	display: none;
}

.footer__copyright_link:hover .academy__link_hover {
	display: block;
}

.footer__copyright_link:active .academy__link {
	display: none;
}

.footer__copyright_link:active .academy__link_hover {
	display: block;
	opacity: 0.3;
}

.footer__social_block {
	width: 50%;
	margin: 0 auto;
}

.footer__social_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.footer__social_item {
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	margin: 0 5px;
}

.footer__social_link {
	opacity: 0.6;
}

.footer__social_link:hover {
	opacity: 1;
}

.footer__social_link:active {
	opacity: 0.3;
}
