@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroylight.woff) format("woff"),
			url(../fonts/gilroylight.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/gilroyextrabold.woff) format("woff"),
			url(../fonts/gilroyextrabold.woff2) format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensans.woff) format("woff"),
			url(../fonts/opensans.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Open-sans;
	src: url(../fonts/opensanslight.woff) format("woff"),
			url(../fonts/opensans.woff2) format("woff2");
	font-weight: lighter;
	font-style: normal;
}

body {
	font-family: Gilroy, "Arial", sans-serif;
	font-size: 18px;
	font-weight: normal;
	background-color: #fff;
}

h1 {
	font-size: 48px;
	font-weight: bold;
}

h2 {
	font-size: 47px;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*-----------------------------header-----------------------------*/

.header {
	position: relative;
	width: 1040px;
	margin: 40px auto;
	padding: 50px 60px;
	background-color: #f7e296;
}

.header__logo {
	position: absolute;
	text-transform: uppercase;
	left: 50px;
	top: -58px;
}

.header__top_menu {
	margin-bottom: 40px;
}

.header__form_search, .header__menu_item  {
	display: inline-block;
	vertical-align: middle;
}

.header__form_search, .header__user_block {
	width: 50%;
	float: left;
}

.header__menu {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.header__menu_item {
	width: 25%;
}

.header__menu_item:first-child {
	width: 50%;
}

.header__menu_item:last-child {
	text-align: right;
}

.header__menu_item {
	font-size: 18px;
}

.header__catalog_items, .header__info_block {
	float: left;
}

.header__catalog_items, .header__info_block {
	width: 50%;
}

.header__info_menu {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.info__menu_item {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	font-size: 18px;
}

.info__menu_item:last-child {
	width: 50%;
	text-align: right;
}

.header__bottom_text {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header__list_item {
	display: none;
}

/*----------------------------main------------------------------*/

/*------------------------index.html----------------------------*/



.main__sliders_item {
	position: relative;
	width: 1010px;
	margin: -40px auto 40px auto;
	padding: 0 75px;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.2);
}

.main__img_item, .main__description_item {
	float: left;
	width: 50%;
}

.main__text-block p {
	font-family: Open-sans;
	font-size: 15px;
	line-height: 30px;
}

.link__info_item {
	margin: 30px 0;
}

.features_item {
	display: inline-block;
	vertical-align: top;
	width: 85px;
	margin-right: 50px;
}

.features__item_value {
	font-size: 36px; 
}

.features__item_parameter {
	font-size: 13px;
}

#slide_2, #slide_3 {
	display: none;
}

.main__items_block {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.items__block {
	margin: 0;
	padding: 0;
}

.item__list {
	float: left;
	width: 160px;
	margin-right: 40px;
}

.item__list:last-child {
	margin-right: 0;
	float: right;
}

.main__services {
	position: relative;
}

.main__services_bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 290px;
	z-index: -10px;
	background-color: #e5e5e5;
}

.main__services_container {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}

.main__services_menu, .main__services_description, .services__description_icon{
	float: left;
	width: 33%;
}

.main__services_menu {


}

.services__description_icon {
	width: 136px;
	height: 164px;
	background: url(../img/delivery.png) no-repeat;
}

.main__icon_brand {
	width: 1160px;
	margin: 0 auto;
}

.main__brand_menu {
	margin: 0;
	padding: 0;
}

.brand__list_item {
	float: left;
	margin-right: 40px;
}

.brand__list_item:last-child {
	margin-right: 0;
}

.main__info_block {
	width: 1160px;
	margin: 0 auto;
}

.main__info_about, .main__info_contacts {
	float: left;
	width: 50%;
}































/*-----------------------catalog.html---------------------------*/
.main__breadcrumbs_block {
	width: 1040px;
	margin: 0 auto;
	padding: 0 60px;
}

.main__title {
	margin: 0;
	margin-bottom: 25px;
}

.breadcrumbs__menu {
	margin: 0;
	padding: 0;
}

.breadcrumbs__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 35px;
}

.breadcrumbs__item_name {
	font-family: Open-sans;
	font-size: 14px;
	line-height: 36px;
	font-weight: lighter;
	color: rgba(0, 0, 0, .7);
}

/*-------------------------footer----------------------------*/

.footer_container {
	width: 1160px;
	margin: 0 auto;
	padding: 60px 0;
}

.footer__top_content {
	margin-bottom: 25px;
}

.footer_logo {
	float: left;
}

.footer__logo_text {
	margin: 0;
	padding: 0;
}

.footer__user_block {
	float: right;
}

.footer__menu_block {
	margin: 0;
	padding: 0;
}

.footer__menu_item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 35px;
}

.footer__info_content {
	margin-bottom: 60px;
}

.footer__info_adres {
	float: left;
	width: auto;
	text-align: left;
}

.footer__info_tel {
	float: right;
	width: auto;
	text-align: right;
}

.footer__info_services {
	width: 50%;	
	margin: 0 auto;
}

.info__services_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.info__services_item {
	display: inline-block;
	vertical-align: middle;
}


.footer_dash {
	float: left;
	width: 80px;
	height: 7px;
	background-color: #f7e184;
}

.footer__copyright_block {
	float: right;
	width: 27px;
	height: 34px;
	background: #f7e184;
}

.footer__social_block {
	width: 50%;
	margin: 0 auto;
}

.footer__social_menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.footer__social_item {
	display: inline-block;
	vertical-align: middle;
}
